# ============================================
# Server Environment Configuration
# ============================================

# MongoDB connection string
# MONGO_URI=mongodb+srv://your_user:your_password@your_cluster.mongodb.net/portfolio
MONGO_URI=mongodb+srv://your_user:Prajwal@1812@your_cluster.mongodb.net/portfolio

# Server port
PORT=5000

# Node environment (development | production)
NODE_ENV=development


